.buildingsPanel {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  /* text-align: center; */
  font-size: 1.1em;
  grid-area: buildings;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: 
    'heading heading'
    'left    right'
    'left    right'
    'left    right'
    'left    right'
    'left    right'
    'left    right'
}

.heading {
  grid-area: heading;
  text-align: center;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
