.game {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 50px;
  grid-template-areas: 
  'log map'
  'log info'
  'input input'; 
}
